<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../public/css/index.css"/>
    <link rel="stylesheet" href="../public/css/admin_teacher.css"/>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-container">
            <div class="header-l">
                <div class="logo">
                    <img src="../public/img/header-logo.png" alt=""/>
                </div>
                <div class="header-meun">
                    <img src="../public/img/menu.png" alt="菜单"/>
                    <div class="header-cd">
                        <ul class="flex-cd">
                            <li><a href="admin_index.html" target="_self">首页</a></li>
                            <li><a href="admin_lookCR.html">管理机房</a></li>
                            <li><a href="admin_managerTeacher.html">教师管理</a></li>
                            <li><a href="admin_repair.html">机房保修</a></li>
                            <li><a href="admin_change.html">修改密码</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-r-container">
                <div class="header-m">
                    <input type="text" placeholder="请输入关键词"/>
                    <img src="../public/img/search.png" alt="搜索"/>
                </div>
                <div class="header-r">
                    <p class="header-name">管理员：您好！</p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="teacherManager container-bg">
    <div class="container">
        <div class="teacherManager-container">
            <table class="teacherManager-info">
                <tr>
                    <th>教师名称</th>
                    <th>账号</th>
                    <th>系别</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td><p>hhh</p></td>
                    <td><p>12345678912</p></td>
                    <td><p>fsf</p></td>
                    <td><a href="javascript:;" onclick="return del()">
                        <button class="detele-sc">删除</button>
                    </a></td>
                </tr>
            </table>
            <div class="delete-container">
                <div class="delete">
                    <p class="delete-title">您确定要删除吗？</p>
                    <div class="delete-btn">
                        <a href="javascript:;" onclick="return cansel()"><button class="cansel">取消</button></a>
                        <a href="javascript:;"><button class="ensure">确定</button></a>
                    </div>
                </div>
            </div>
        </div>
        <button class="return">返回上一级</button>
    </div>
</div>
<script src="../public/js/jquery.js"></script>
<script src="../public/js/index.js"></script>
<script>

</script>
</body>
</html>