<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>注册界面</title>
    <link rel="stylesheet" href="../public/css/register.css">
</head>
<body>
    <div id="app">
        <div class="dowebok">
            <div class="logo"></div>
            <div class="form-item">
                <input v-model="userName" id="username" type="text" autocomplete="off" placeholder="账号为手机号">
                <p class="tip">请输入合法的手机号</p>
            </div>
            <div class="form-item">
                <input v-model="passWord" id="password" type="password" autocomplete="off" placeholder="注册密码">
                <p class="tip">账号或密码不正确</p>
            </div>
            <div class="form-item">
                <button id="submit" @click='register'>注册</button>
            </div>
            <div class="reg-bar">
                <a class="reg" href="/">进入登录页面</a>
            </div>
        </div>
    </div>
<script src="../public/lib/vue-2.4.0.js"></script>
<script src="../public/lib/sweetalert.min.js"></script>
<script src="../public/lib/axios.min.js"></script>
<script>
    const vm = new Vue({
        el:'#app',
        data() {
            return {
                userName: '',
                passWord: ''
            }         
        },
        methods:{           
            register: function(){
                var that = this;
                if(that.userName ==''||that.passWord == ''){
                    swal({
                        title: "用户名或密码不能为空",
                        icon: "error",
                        button: false,
                        timer: 1000,
                    });
                    return
                };
                
                axios.post('/register',{
                    userName: that.userName,
                    passWord: that.passWord
                })
                .then((res) => {
                    console.log(res);
                    if(res.data.status){
                        swal({
                            title: "注册成功，请登录",
                            icon: "success",
                            button: false,
                            timer: 800,
                        });
                    }else{
                        swal({
                            title: "注册失败，请重试",
                            icon: "error",
                            button: false,
                            timer: 800,
                        });
                    }
                })
                .catch((error) => {
                    console.log(error);
            });

            that.userName = that.passWord = "";
            }       
        }
    });
</script>
</body>
</html>