<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>计算机机房管理</title>
    <link rel="stylesheet" href="../public/css/index.css"/>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-container">
            <div class="header-l">
                <div class="logo">
                    <img src="../public/nnimg/logo.jpg" alt=""/>
                </div>
                <div class="header-meun">
                    <img src="" alt="菜单"/>
                    <div class="header-cd">
                        <ul class="flex-cd">
                            <li><a href="teacher_index.html" target="_self">首页</a></li>
                            <li><a href="teacher_lookCR.html">查看机房</a></li>
                            <li><a href="teacher_person.html">个人中心</a></li>
                            <li><a href="">下课</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-r-container">
                <div class="header-m">
                    <input type="text" placeholder="请输入关键词"/>
                    <img src="" alt="搜索"/>
                </div>
            <div class="header-r">
                <img src="" alt="头像"/>
                <p class="header-name">您好：xxx</p>
            </div>
            </div>
        </div>
    </div>
</header>
<script src="../public/js/jquery.js"></script>
<script src="../public/js/index.js"></script>
</body>
</html>