<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>查看机房</title>
    <link rel="stylesheet" href="../public/css/lookCR.css"/>
</head>
<body>
<header id="header"></header>
<!--查看机房表格-->
<div class="look">
    <div class="container">
        <div class="right">
            <table class="table">
                <tr>
                    <th>机房号</th>
                    <th>设备</th>
                    <th>设备总量</th>
                    <th>使用状态</th>
                </tr>
                <tr>
                <td>801</td>
                <td>电脑、鼠标</td>
                <td>200</td>
                <td><button>未使用</button></td>
                </tr>

            </table>
            <button class="return">返回上一级</button>
        </div>
    </div>
</div>
</body>
<script src="../public/js/jquery.js"></script>
<script src="../public/js/index.js"></script>
<script src="../public/js/header.js"></script>
</html>